# Data Sets in Python

In [2]:
#libraries
import numpy as np
import pandas as pd
from pydataset import data

# pydataset Library
https://github.com/iamaziz/PyDataset/blob/master/examples/basic-usage.ipynb
https://www.youngwonks.com/blog/pydataset-a-python-dataset-library

### install
Windows: pip install pydataset
Mac: pip3 install pydataset

In [3]:
#Load dataset
iris = data('iris')

In [5]:
# show data
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [6]:
# Show Doc of dataset
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [7]:
# available Data sets
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [8]:
#help on data
help(data)

Help on function data in module pydataset:

data(item=None, show_doc=False)
    loads a datasaet (from in-modules datasets) in a dataframe data structure.

    Args:
        item (str)      : name of the dataset to load.
        show_doc (bool) : to show the dataset's documentation.

    Examples:

    >>> iris = data('iris')


    >>> data('titanic', show_doc=True)
        : returns the dataset's documentation.

    >>> data()
        : like help(), returns a dataframe [Item, Title]
        for a list of the available datasets.

In [43]:
# search a dataset by name
data()[data().dataset_id == 'AirPassengers']

      dataset_id                                        title
0  AirPassengers  Monthly Airline Passenger Numbers 1949-1960

In [44]:
data('AirPassengers')

            time  AirPassengers
1    1949.000000            112
2    1949.083333            118
3    1949.166667            132
4    1949.250000            129
5    1949.333333            121
6    1949.416667            135
7    1949.500000            148
8    1949.583333            148
9    1949.666667            136
10   1949.750000            119
11   1949.833333            104
12   1949.916667            118
13   1950.000000            115
14   1950.083333            126
15   1950.166667            141
16   1950.250000            135
17   1950.333333            125
18   1950.416667            149
19   1950.500000            170
20   1950.583333            170
21   1950.666667            158
22   1950.750000            133
23   1950.833333            114
24   1950.916667            140
25   1951.000000            145
26   1951.083333            150
27   1951.166667            178
28   1951.250000            163
29   1951.333333            172
30   1951.416667            178
31   1951.500000            199
32   1951.583333            199
33   1951.666667            184
34   1951.750000            162
35   1951.833333            146
36   1951.916667            166
37   1952.000000            171
38   1952.083333            180
39   1952.166667            193
40   1952.250000            181
41   1952.333333            183
42   1952.416667            218
43   1952.500000            230
44   1952.583333            242
45   1952.666667            209
46   1952.750000            191
47   1952.833333            172
48   1952.916667            194
49   1953.000000            196
50   1953.083333            196
51   1953.166667            236
52   1953.250000            235
53   1953.333333            229
54   1953.416667            243
55   1953.500000            264
56   1953.583333            272
57   1953.666667            237
58   1953.750000            211
59   1953.833333            180
60   1953.916667            201
61   1954.000000            204
62   1954.083333            188
63   1954.166667            235
64   1954.250000            227
65   1954.333333            234
66   1954.416667            264
67   1954.500000            302
68   1954.583333            293
69   1954.666667            259
70   1954.750000            229
71   1954.833333            203
72   1954.916667            229
73   1955.000000            242
74   1955.083333            233
75   1955.166667            267
76   1955.250000            269
77   1955.333333            270
78   1955.416667            315
79   1955.500000            364
80   1955.583333            347
81   1955.666667            312
82   1955.750000            274
83   1955.833333            237
84   1955.916667            278
85   1956.000000            284
86   1956.083333            277
87   1956.166667            317
88   1956.250000            313
89   1956.333333            318
90   1956.416667            374
91   1956.500000            413
92   1956.583333            405
93   1956.666667            355
94   1956.750000            306
95   1956.833333            271
96   1956.916667            306
97   1957.000000            315
98   1957.083333            301
99   1957.166667            356
100  1957.250000            348
101  1957.333333            355
102  1957.416667            422
103  1957.500000            465
104  1957.583333            467
105  1957.666667            404
106  1957.750000            347
107  1957.833333            305
108  1957.916667            336
109  1958.000000            340
110  1958.083333            318
111  1958.166667            362
112  1958.250000            348
113  1958.333333            363
114  1958.416667            435
115  1958.500000            491
116  1958.583333            505
117  1958.666667            404
118  1958.750000            359
119  1958.833333            310
120  1958.916667            337
121  1959.000000            360
122  1959.083333            342
123  1959.166667            406
124  1959.250000            396
125  1959.333333            420
126  1959.416667            472
127  1959.500000            548
128  1959.583333            559
129  1959.666667            463
130  1959.750000            407
131  1959.833333            362
132  1959.916667            405
133  1960.000000            417
134  1960.083333            391
135  1960.166667            419
136  1960.250000            461
137  1960.333333            472
138  1960.416667            535
139  1960.500000            622
140  1960.583333            606
141  1960.666667            508
142  1960.750000            461
143  1960.833333            390
144  1960.916667            432

In [45]:
AirP = data('AirPassengers')
AirP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 1 to 144
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   time           144 non-null    float64
 1   AirPassengers  144 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 3.4 KB

In [58]:
AirP['time'] = AirP.index
print(AirP.dtypes, AirP.shape)

time             int64
AirPassengers    int64
dtype: object (144, 2)

In [61]:
AirP.head()

        time  AirPassengers
1 2012-10-01            112
2 2012-10-02            118
3 2012-10-03            132
4 2012-10-04            129
5 2012-10-05            121

In [64]:
# create a date series
AirP['time'] = pd.date_range('2012-10-01', periods=AirP.shape[0], freq='1D')
AirP

          time  AirPassengers
1   2012-10-01            112
2   2012-10-02            118
3   2012-10-03            132
4   2012-10-04            129
5   2012-10-05            121
6   2012-10-06            135
7   2012-10-07            148
8   2012-10-08            148
9   2012-10-09            136
10  2012-10-10            119
11  2012-10-11            104
12  2012-10-12            118
13  2012-10-13            115
14  2012-10-14            126
15  2012-10-15            141
16  2012-10-16            135
17  2012-10-17            125
18  2012-10-18            149
19  2012-10-19            170
20  2012-10-20            170
21  2012-10-21            158
22  2012-10-22            133
23  2012-10-23            114
24  2012-10-24            140
25  2012-10-25            145
26  2012-10-26            150
27  2012-10-27            178
28  2012-10-28            163
29  2012-10-29            172
30  2012-10-30            178
31  2012-10-31            199
32  2012-11-01            199
33  2012-11-02            184
34  2012-11-03            162
35  2012-11-04            146
36  2012-11-05            166
37  2012-11-06            171
38  2012-11-07            180
39  2012-11-08            193
40  2012-11-09            181
41  2012-11-10            183
42  2012-11-11            218
43  2012-11-12            230
44  2012-11-13            242
45  2012-11-14            209
46  2012-11-15            191
47  2012-11-16            172
48  2012-11-17            194
49  2012-11-18            196
50  2012-11-19            196
51  2012-11-20            236
52  2012-11-21            235
53  2012-11-22            229
54  2012-11-23            243
55  2012-11-24            264
56  2012-11-25            272
57  2012-11-26            237
58  2012-11-27            211
59  2012-11-28            180
60  2012-11-29            201
61  2012-11-30            204
62  2012-12-01            188
63  2012-12-02            235
64  2012-12-03            227
65  2012-12-04            234
66  2012-12-05            264
67  2012-12-06            302
68  2012-12-07            293
69  2012-12-08            259
70  2012-12-09            229
71  2012-12-10            203
72  2012-12-11            229
73  2012-12-12            242
74  2012-12-13            233
75  2012-12-14            267
76  2012-12-15            269
77  2012-12-16            270
78  2012-12-17            315
79  2012-12-18            364
80  2012-12-19            347
81  2012-12-20            312
82  2012-12-21            274
83  2012-12-22            237
84  2012-12-23            278
85  2012-12-24            284
86  2012-12-25            277
87  2012-12-26            317
88  2012-12-27            313
89  2012-12-28            318
90  2012-12-29            374
91  2012-12-30            413
92  2012-12-31            405
93  2013-01-01            355
94  2013-01-02            306
95  2013-01-03            271
96  2013-01-04            306
97  2013-01-05            315
98  2013-01-06            301
99  2013-01-07            356
100 2013-01-08            348
101 2013-01-09            355
102 2013-01-10            422
103 2013-01-11            465
104 2013-01-12            467
105 2013-01-13            404
106 2013-01-14            347
107 2013-01-15            305
108 2013-01-16            336
109 2013-01-17            340
110 2013-01-18            318
111 2013-01-19            362
112 2013-01-20            348
113 2013-01-21            363
114 2013-01-22            435
115 2013-01-23            491
116 2013-01-24            505
117 2013-01-25            404
118 2013-01-26            359
119 2013-01-27            310
120 2013-01-28            337
121 2013-01-29            360
122 2013-01-30            342
123 2013-01-31            406
124 2013-02-01            396
125 2013-02-02            420
126 2013-02-03            472
127 2013-02-04            548
128 2013-02-05            559
129 2013-02-06            463
130 2013-02-07            407
131 2013-02-08            362
132 2013-02-09            405
133 2013-02-10            417
134 2013-02-11            391
135 2013-02-12            419
136 2013-02-13            461
137 2013-02-14            472
138 2013-02-15            535
139 2013-02-16            622
140 2013-02-17            606
141 2013-02-18            508
142 2013-02-19            461
143 2013-02-20            390
144 2013-02-21            432

In [65]:
AirP.tail()

          time  AirPassengers
140 2013-02-17            606
141 2013-02-18            508
142 2013-02-19            461
143 2013-02-20            390
144 2013-02-21            432