Data Manipulation using dfply library which is similar to dplyr in R

In [12]:
#pip install dfply

https://pypi.org/project/dfply/

https://github.com/kieferk/dfply

In [13]:
from pydataset import data  #dataset library

In [14]:
mtcars = data('mtcars')

In [15]:
mtcarsDF2 = mtcars.copy()

In [16]:
mtcarsDF2.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [17]:
#dfply u

In [18]:
from dfply import *

In [19]:
mtcarsDF2['carname'] = mtcarsDF2.index  #copy car names as column

In [20]:
catcol = ['cyl', 'vs', 'am', 'gear', 'carb']

In [21]:
mtcarsDF2.dtypes

mpg        float64
cyl          int64
disp       float64
hp           int64
drat       float64
wt         float64
qsec       float64
vs           int64
am           int64
gear         int64
carb         int64
carname     object
dtype: object

In [22]:
mtcarsDF2[catcol] = mtcarsDF2[catcol].astype('category')

In [23]:
mtcarsDF2.dtypes

mpg         float64
cyl        category
disp        float64
hp            int64
drat        float64
wt          float64
qsec        float64
vs         category
am         category
gear       category
carb       category
carname      object
dtype: object

### start using dfply

In [25]:
mtcarsDF2 >> select(~X.mpg)

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,carname
Mazda RX4,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Mazda RX4
Mazda RX4 Wag,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Mazda RX4 Wag
Datsun 710,4,108.0,93,3.85,2.320,18.61,1,1,4,1,Datsun 710
Hornet 4 Drive,6,258.0,110,3.08,3.215,19.44,1,0,3,1,Hornet 4 Drive
Hornet Sportabout,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Hornet Sportabout
Valiant,6,225.0,105,2.76,3.460,20.22,1,0,3,1,Valiant
Duster 360,8,360.0,245,3.21,3.570,15.84,0,0,3,4,Duster 360
Merc 240D,4,146.7,62,3.69,3.190,20.00,1,0,4,2,Merc 240D
Merc 230,4,140.8,95,3.92,3.150,22.90,1,0,4,2,Merc 230
Merc 280,6,167.6,123,3.92,3.440,18.30,1,0,4,4,Merc 280
Merc 280C,6,167.6,123,3.92,3.440,18.90,1,0,4,4,Merc 280C
Merc 450SE,8,275.8,180,3.07,4.070,17.40,0,0,3,3,Merc 450SE
Merc 450SL,8,275.8,180,3.07,3.730,17.60,0,0,3,3,Merc 450SL
Merc 450SLC,8,275.8,180,3.07,3.780,18.00,0,0,3,3,Merc 450SLC
Cadillac Fleetwood,8,472.0,205,2.93,5.250,17.98,0,0,3,4,Cadillac Fleetwood
Lincoln Continental,8,460.0,215,3.00,5.424,17.82,0,0,3,4,Lincoln Continental
Chrysler Imperial,8,440.0,230,3.23,5.345,17.42,0,0,3,4,Chrysler Imperial
Fiat 128,4,78.7,66,4.08,2.200,19.47,1,1,4,1,Fiat 128
Honda Civic,4,75.7,52,4.93,1.615,18.52,1,1,4,2,Honda Civic
Toyota Corolla,4,71.1,65,4.22,1.835,19.90,1,1,4,1,Toyota Corolla
Toyota Corona,4,120.1,97,3.70,2.465,20.01,1,0,3,1,Toyota Corona
Dodge Challenger,8,318.0,150,2.76,3.520,16.87,0,0,3,2,Dodge Challenger
AMC Javelin,8,304.0,150,3.15,3.435,17.30,0,0,3,2,AMC Javelin
Camaro Z28,8,350.0,245,3.73,3.840,15.41,0,0,3,4,Camaro Z28
Pontiac Firebird,8,400.0,175,3.08,3.845,17.05,0,0,3,2,Pontiac Firebird
Fiat X1-9,4,79.0,66,4.08,1.935,18.90,1,1,4,1,Fiat X1-9
Porsche 914-2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,Porsche 914-2
Lotus Europa,4,95.1,113,3.77,1.513,16.90,1,1,5,2,Lotus Europa
Ford Pantera L,8,351.0,264,4.22,3.170,14.50,0,1,5,4,Ford Pantera L
Ferrari Dino,6,145.0,175,3.62,2.770,15.50,0,1,5,6,Ferrari Dino
Maserati Bora,8,301.0,335,3.54,3.570,14.60,0,1,5,8,Maserati Bora
Volvo 142E,4,121.0,109,4.11,2.780,18.60,1,1,4,2,Volvo 142E

In [24]:
mtcarsDF2 >> select(~X.mpg, ~X.wt) >> tail()  #exclude mpg, wt

               cyl   disp   hp  drat  qsec vs am gear carb         carname
Lotus Europa     4   95.1  113  3.77  16.9  1  1    5    2    Lotus Europa
Ford Pantera L   8  351.0  264  4.22  14.5  0  1    5    4  Ford Pantera L
Ferrari Dino     6  145.0  175  3.62  15.5  0  1    5    6    Ferrari Dino
Maserati Bora    8  301.0  335  3.54  14.6  0  1    5    8   Maserati Bora
Volvo 142E       4  121.0  109  4.11  18.6  1  1    4    2      Volvo 142E

In [26]:
mtcarsDF2 >> select(X.mpg, X.gear, X.wt)  >> arrange(X.gear, -X.wt) >> head()

                      mpg gear     wt
Lincoln Continental  10.4    3  5.424
Chrysler Imperial    14.7    3  5.345
Cadillac Fleetwood   10.4    3  5.250
Merc 450SE           16.4    3  4.070
Pontiac Firebird     19.2    3  3.845

In [27]:
mtcarsDF2 >> group_by(X.cyl, X.gear) >> summarise(meanMPG = X.mpg.mean())

  gear cyl  meanMPG
0    3   4   21.500
1    4   4   26.925
2    5   4   28.200
3    3   6   19.750
4    4   6   19.750
5    5   6   19.700
6    3   8   15.050
7    5   8   15.400