In [1]:
#how to use pandas library and functions for data analysis and manipulation

   # Libraries

In [2]:
import numpy as np

In [3]:
import pandas as pd

#pandas DF are combination of panda Series..
#one column data is a Series of one datatype, DF can have multiple data types

In [4]:
from pydataset import data
mtcars = data('mtcars')
mtcarsDF = mtcars

In [5]:
mtcarsDF

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2


mtcarsDF.select_dtypes(include=['int64'])
mtcarsDF.select_dtypes(exclude=['int64'])
mtcarsDF.isna()
mtcarsDF.notna()
id(mtcarsDF)
mtcars.empty
mtcars.size
mtcars.ndim
mtcars.axes
mtcars.values

## Describe a Panda DF

In [6]:
mtcarsDF.shape  #dimensions of DF

(32, 11)

In [7]:
mtcarsDF.head(4) #first 4 rows of DF

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1

In [8]:
mtcarsDF.tail(3) #last 3 rows of DF

                mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ferrari Dino   19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
Volvo 142E     21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [9]:
mtcarsDF.describe()  #describe or summarise DF (default - numeric cols)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [10]:
mtcarsDF.columns   #column names

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [11]:
mtcarsDF.dtypes # data types

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [ ]:
mtcarsDF.dtypes(include=['int64'])

In [16]:
mtcarsDF.select_dtypes(include=['int64']).head()

                   cyl   hp  vs  am  gear  carb
Mazda RX4            6  110   0   1     4     4
Mazda RX4 Wag        6  110   0   1     4     4
Datsun 710           4   93   1   1     4     1
Hornet 4 Drive       6  110   1   0     3     1
Hornet Sportabout    8  175   0   0     3     2

In [18]:
mtcarsDF.isna()  #missing value in each cell

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False
Valiant,False,False,False,False,False,False,False,False,False,False,False
Duster 360,False,False,False,False,False,False,False,False,False,False,False
Merc 240D,False,False,False,False,False,False,False,False,False,False,False
Merc 230,False,False,False,False,False,False,False,False,False,False,False
Merc 280,False,False,False,False,False,False,False,False,False,False,False
Merc 280C,False,False,False,False,False,False,False,False,False,False,False
Merc 450SE,False,False,False,False,False,False,False,False,False,False,False
Merc 450SL,False,False,False,False,False,False,False,False,False,False,False
Merc 450SLC,False,False,False,False,False,False,False,False,False,False,False
Cadillac Fleetwood,False,False,False,False,False,False,False,False,False,False,False
Lincoln Continental,False,False,False,False,False,False,False,False,False,False,False
Chrysler Imperial,False,False,False,False,False,False,False,False,False,False,False
Fiat 128,False,False,False,False,False,False,False,False,False,False,False
Honda Civic,False,False,False,False,False,False,False,False,False,False,False
Toyota Corolla,False,False,False,False,False,False,False,False,False,False,False
Toyota Corona,False,False,False,False,False,False,False,False,False,False,False
Dodge Challenger,False,False,False,False,False,False,False,False,False,False,False
AMC Javelin,False,False,False,False,False,False,False,False,False,False,False
Camaro Z28,False,False,False,False,False,False,False,False,False,False,False
Pontiac Firebird,False,False,False,False,False,False,False,False,False,False,False
Fiat X1-9,False,False,False,False,False,False,False,False,False,False,False
Porsche 914-2,False,False,False,False,False,False,False,False,False,False,False
Lotus Europa,False,False,False,False,False,False,False,False,False,False,False
Ford Pantera L,False,False,False,False,False,False,False,False,False,False,False
Ferrari Dino,False,False,False,False,False,False,False,False,False,False,False
Maserati Bora,False,False,False,False,False,False,False,False,False,False,False
Volvo 142E,False,False,False,False,False,False,False,False,False,False,False

In [19]:
mtcarsDF.notna() #is there no missing value (not missing)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,True,True,True,True,True,True,True,True,True,True,True
Mazda RX4 Wag,True,True,True,True,True,True,True,True,True,True,True
Datsun 710,True,True,True,True,True,True,True,True,True,True,True
Hornet 4 Drive,True,True,True,True,True,True,True,True,True,True,True
Hornet Sportabout,True,True,True,True,True,True,True,True,True,True,True
Valiant,True,True,True,True,True,True,True,True,True,True,True
Duster 360,True,True,True,True,True,True,True,True,True,True,True
Merc 240D,True,True,True,True,True,True,True,True,True,True,True
Merc 230,True,True,True,True,True,True,True,True,True,True,True
Merc 280,True,True,True,True,True,True,True,True,True,True,True
Merc 280C,True,True,True,True,True,True,True,True,True,True,True
Merc 450SE,True,True,True,True,True,True,True,True,True,True,True
Merc 450SL,True,True,True,True,True,True,True,True,True,True,True
Merc 450SLC,True,True,True,True,True,True,True,True,True,True,True
Cadillac Fleetwood,True,True,True,True,True,True,True,True,True,True,True
Lincoln Continental,True,True,True,True,True,True,True,True,True,True,True
Chrysler Imperial,True,True,True,True,True,True,True,True,True,True,True
Fiat 128,True,True,True,True,True,True,True,True,True,True,True
Honda Civic,True,True,True,True,True,True,True,True,True,True,True
Toyota Corolla,True,True,True,True,True,True,True,True,True,True,True
Toyota Corona,True,True,True,True,True,True,True,True,True,True,True
Dodge Challenger,True,True,True,True,True,True,True,True,True,True,True
AMC Javelin,True,True,True,True,True,True,True,True,True,True,True
Camaro Z28,True,True,True,True,True,True,True,True,True,True,True
Pontiac Firebird,True,True,True,True,True,True,True,True,True,True,True
Fiat X1-9,True,True,True,True,True,True,True,True,True,True,True
Porsche 914-2,True,True,True,True,True,True,True,True,True,True,True
Lotus Europa,True,True,True,True,True,True,True,True,True,True,True
Ford Pantera L,True,True,True,True,True,True,True,True,True,True,True
Ferrari Dino,True,True,True,True,True,True,True,True,True,True,True
Maserati Bora,True,True,True,True,True,True,True,True,True,True,True
Volvo 142E,True,True,True,True,True,True,True,True,True,True,True

In [20]:
mtcarsDF.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [23]:
mtcarsDF.isna().sum(axis=1)  #rowwise count of missing values

Mazda RX4              0
Mazda RX4 Wag          0
Datsun 710             0
Hornet 4 Drive         0
Hornet Sportabout      0
Valiant                0
Duster 360             0
Merc 240D              0
Merc 230               0
Merc 280               0
Merc 280C              0
Merc 450SE             0
Merc 450SL             0
Merc 450SLC            0
Cadillac Fleetwood     0
Lincoln Continental    0
Chrysler Imperial      0
Fiat 128               0
Honda Civic            0
Toyota Corolla         0
Toyota Corona          0
Dodge Challenger       0
AMC Javelin            0
Camaro Z28             0
Pontiac Firebird       0
Fiat X1-9              0
Porsche 914-2          0
Lotus Europa           0
Ford Pantera L         0
Ferrari Dino           0
Maserati Bora          0
Volvo 142E             0
dtype: int64

In [ ]:
id(mtcarsDF)  #id no in memory

In [28]:
mtcarsDF.empty  #is it empty object

False

In [29]:
mtcarsDF.size #size memory

352

In [30]:
mtcarsDF.ndim  #no of dimensions 2 for DF,1 for list

2

In [31]:
mtcarsDF.axes  #axix names : rownames and columnames

[Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
        'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
        'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
        'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
        'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
        'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
        'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
        'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
       dtype='object'),
 Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
        'carb'],
       dtype='object')]

In [32]:
mtcarsDF.values #data without row or column names

array([[ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.62 ,  16.46 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.875,  17.02 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 22.8  ,   4.   , 108.   ,  93.   ,   3.85 ,   2.32 ,  18.61 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.4  ,   6.   , 258.   , 110.   ,   3.08 ,   3.215,  19.44 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 18.7  ,   8.   , 360.   , 175.   ,   3.15 ,   3.44 ,  17.02 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 18.1  ,   6.   , 225.   , 105.   ,   2.76 ,   3.46 ,  20.22 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 14.3  ,   8.   , 360.   , 245.   ,   3.21 ,   3.57 ,  15.84 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 24.4  ,   4.   , 146.7  ,  62.   ,   3.69 ,   3.19 ,  20.   ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 22.8  ,   4.   , 140.8  ,  95.   ,   3.92 ,   3.15 ,  22.9  ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 19.2  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.3  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 17.8  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.9  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 16.4  ,   8.   , 275.8  , 180.   ,   3.07 ,   4.07 ,  17.4  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 17.3  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.73 ,  17.6  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 15.2  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.78 ,  18.   ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 10.4  ,   8.   , 472.   , 205.   ,   2.93 ,   5.25 ,  17.98 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 10.4  ,   8.   , 460.   , 215.   ,   3.   ,   5.424,  17.82 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 14.7  ,   8.   , 440.   , 230.   ,   3.23 ,   5.345,  17.42 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 32.4  ,   4.   ,  78.7  ,  66.   ,   4.08 ,   2.2  ,  19.47 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 30.4  ,   4.   ,  75.7  ,  52.   ,   4.93 ,   1.615,  18.52 ,
          1.   ,   1.   ,   4.   ,   2.   ],
       [ 33.9  ,   4.   ,  71.1  ,  65.   ,   4.22 ,   1.835,  19.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.5  ,   4.   , 120.1  ,  97.   ,   3.7  ,   2.465,  20.01 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 15.5  ,   8.   , 318.   , 150.   ,   2.76 ,   3.52 ,  16.87 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 15.2  ,   8.   , 304.   , 150.   ,   3.15 ,   3.435,  17.3  ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 13.3  ,   8.   , 350.   , 245.   ,   3.73 ,   3.84 ,  15.41 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 19.2  ,   8.   , 400.   , 175.   ,   3.08 ,   3.845,  17.05 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 27.3  ,   4.   ,  79.   ,  66.   ,   4.08 ,   1.935,  18.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 26.   ,   4.   , 120.3  ,  91.   ,   4.43 ,   2.14 ,  16.7  ,
          0.   ,   1.   ,   5.   ,   2.   ],
       [ 30.4  ,   4.   ,  95.1  , 113.   ,   3.77 ,   1.513,  16.9  ,
          1.   ,   1.   ,   5.   ,   2.   ],
       [ 15.8  ,   8.   , 351.   , 264.   ,   4.22 ,   3.17 ,  14.5  ,
          0.   ,   1.   ,   5.   ,   4.   ],
       [ 19.7  ,   6.   , 145.   , 175.   ,   3.62 ,   2.77 ,  15.5  ,
          0.   ,   1.   ,   5.   ,   6.   ],
       [ 15.   ,   8.   , 301.   , 335.   ,   3.54 ,   3.57 ,  14.6  ,
          0.   ,   1.   ,   5.   ,   8.   ],
       [ 21.4  ,   4.   , 121.   , 109.   ,   4.11 ,   2.78 ,  18.6  ,
          1.   ,   1.   ,   4.   ,   2.   ]])

### accessing DF

In [34]:
mtcarsDF[0:5] # first 5 rows

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [36]:
mtcarsDF.iloc[0:5, 0:3]  #first 5 rows and first 3 columns - integer locations

                    mpg  cyl   disp
Mazda RX4          21.0    6  160.0
Mazda RX4 Wag      21.0    6  160.0
Datsun 710         22.8    4  108.0
Hornet 4 Drive     21.4    6  258.0
Hornet Sportabout  18.7    8  360.0

In [38]:
mtcarsDF.at['Mazda RX4', 'mpg']  #particular cell (single value access) by name

21.0

In [39]:
mtcarsDF.iat[0,0]  #single value using iat  - integer

21.0

In [42]:
mtcarsDF.index  #row or index names

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
       'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
       'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
       'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
       'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
       'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
       'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype='object')

In [43]:
mtcarsDF.loc[['Mazda RX4']] #row details with rowname or index

            mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [45]:
mtcarsDF.loc[['Mazda RX4','Datsun 710'],['mpg', 'wt']]  #particular locations

             mpg    wt
Mazda RX4   21.0  2.62
Datsun 710  22.8  2.32

In [47]:
mtcarsDF.loc['Mazda RX4':'Datsun 710']   #particular sequence of locations

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

#### iloc - integer location

In [51]:
mtcarsDF.iloc[1:10, 1:5]  #select rows and columns by integer value

                   cyl   disp   hp  drat
Mazda RX4 Wag        6  160.0  110  3.90
Datsun 710           4  108.0   93  3.85
Hornet 4 Drive       6  258.0  110  3.08
Hornet Sportabout    8  360.0  175  3.15
Valiant              6  225.0  105  2.76
Duster 360           8  360.0  245  3.21
Merc 240D            4  146.7   62  3.69
Merc 230             4  140.8   95  3.92
Merc 280             6  167.6  123  3.92

In [52]:
mtcarsDF.iloc[1:10:3, 1:5:2]  #alternative rows or columns within a range

                   cyl   hp
Mazda RX4 Wag        6  110
Hornet Sportabout    8  175
Merc 240D            4   62

In [53]:
mtcarsDF.iloc[[1,5,7], [6,2]]  #alternative rows or columns within a range # no or name ?

                qsec   disp
Mazda RX4 Wag  17.02  160.0
Valiant        20.22  225.0
Merc 240D      20.00  146.7

In [54]:
mtcarsDF.iloc[0]

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64

In [ ]:
mtcas

In [12]:
type(mtcarsDF)  #type of structure

pandas.core.frame.DataFrame

In [13]:
mtcarsDF.index #index key (normally rownames)

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
       'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
       'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
       'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
       'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
       'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
       'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype='object')